.App {
  text-align: center;
  font-family: "GangwonEdu_OTFBoldA"
}
.main {
  display: flex;
  width: 99%;
  margin: auto;
}
.menu {
  font-family: "GangwonEdu_OTFBoldA";
  width: 15%;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.1);
}
.view {
  font-family: "GangwonEdu_OTFBoldA";
  width: 85%;
  margin: 5px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.1);
}

