<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <typeAliases>
    <typeAlias type="com.example.LearningManagementSystem.Attendance.AttendanceDTO" alias="attendancedto"/>
    <typeAlias type="com.example.LearningManagementSystem.Attendance.AttendanceUserDTO" alias="attendanceuserdto"/>
    <typeAlias type="com.example.LearningManagementSystem.Grade.GradeDTO" alias="gradedto"/>
    <typeAlias type="com.example.LearningManagementSystem.Grade.Extra.ExtraDTO" alias="extradto"/>
  </typeAliases>
</configuration>