.profile {
    width: 30%;
    margin: 20px;
    text-align: left;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;   
    padding: 10px;
}
.smallheader {
    font-weight: bold;
    font-size: 15px;
}
.name {
    font-size: 20px;
    font-weight: bold;
}
.button {
    text-decoration: none;
    color: black;
    margin: 10px;
}
