.navbar {
    width: 99%;
    height: 50px;
    margin: auto;
    margin-top: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.title {
    list-style: none;
    padding-top: 15px;
    font-weight: bold;
}

